@import url('css.css');
html,
body,
h1 {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Cabin Montserrat', sans-serif;
}
#app {
  background: #0a0a0a;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(10, 10, 10, 0.5), rgba(0, 0, 0, 0.5)), repeating-linear-gradient(0, transparent, transparent 2px, black 3px, black 3px),
    url('../images/ball.gif');
  background-size: auto;
  background-position: center;
  z-index: 1;
}
/*--------------------------------------nav bar*/
nav{
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: transparent;
  color: rgb(190, 190, 190);
  font-family: 'Fugaz One', cursive;
}
.logo{
  color: rgb(190, 190, 190);
  letter-spacing: 4px;
  font-size: 30px;
}
.nav-links{
  display: flex;
  justify-content: space-around;
  width: 35%;
}
.nav-links li{
  list-style: none;
}
.nav-links a{
  color: rgb(190, 190, 190);
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 18px;
}
/*--------------------------------------nav bar*/