/**********************
 * Drop Block
 **********************/
.drop {
  cursor: pointer;
  display: inline-block;
  min-width: 14px;
  overflow: visible;
  position: relative;
  text-align: center;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
}
.drop.is-disabled {
  cursor: not-allowed;
}

/**********************
 * Drop Content Element
 **********************/
.drop__content {
  position: absolute;
  visibility: hidden;
  width: 100%;
}
.drop--down .drop__content {
  top: 100%;
}
.drop--up .drop__content {
  bottom: 100%;
}
.drop:not(.is-disabled).is-open .drop__content, .drop:not(.is-disabled):hover .drop__content {
  visibility: visible;
}
.drop__content.-transition-fade-in {
  opacity: 0;
  transition: visibility 0s linear, opacity 0.25s ease-in;
  transition-delay: 0.1s;
}
.drop.is-open .drop__content.-transition-fade-in, .drop:hover .drop__content.-transition-fade-in {
  opacity: 1;
  transition-delay: 0s;
}
.drop__content.-transition-slide-in {
  opacity: 0;
  transition: visibility 0s linear, opacity 0.25s ease, transform 0.25s ease;
  transition-delay: 0.1s;
}
.drop--up .drop__content.-transition-slide-in {
  transform: translateY(-10px);
}
.drop--down .drop__content.-transition-slide-in {
  transform: translateY(10px);
}
.drop.is-open .drop__content.-transition-slide-in, .drop:hover .drop__content.-transition-slide-in {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0s;
}

/**********************
 * Drop Arrow
 **********************/
.drop-arrow {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  height: 0;
  margin: 0 auto;
  width: 0;
}
.drop--up .drop-arrow {
  border-top: 7px solid #373737;
  margin-bottom: 2px;
}
.drop--down .drop-arrow {
  border-bottom: 7px solid #373737;
  margin-top: 2px;
}
.drop--up.-color-secondary .drop-arrow {
  border-top-color: #148a73;
}
.drop--down.-color-secondary .drop-arrow {
  border-bottom-color: #148a73;
}
.drop--up.-color-lighter .drop-arrow {
  border-top-color: #bdc3c7;
}
.drop--down.-color-lighter .drop-arrow {
  border-bottom-color: #bdc3c7;
}

/**********************
 * Drop List
 **********************/
.drop-list {
  min-width: 100%;
  background-color: #373737;
  font-size: 0.8em;
  font-weight: 400;
  list-style: none;
  margin: 0;
  padding: 5px;
  position: absolute;
  white-space: nowrap;
}
.drop.-color-secondary .drop-list {
  background-color: #148a73;
}
.drop.-color-lighter .drop-list {
  background-color: #bdc3c7;
}
.drop--down .drop-list {
  top: 100%;
}
.drop--up .drop-list {
  bottom: 100%;
}
.drop-list.-position-left.-pull-left {
  margin-right: 10.5px;
}
.drop-list.-position-left.-pull-right {
  margin-right: -10.5px;
}
.drop-list.-position-center.-pull-left {
  margin-left: -10.5px;
}
.drop-list.-position-center.-pull-right {
  margin-left: 10.5px;
}
.drop-list.-position-right.-pull-left {
  margin-left: -10.5px;
}
.drop-list.-position-right.-pull-right {
  margin-left: 10.5px;
}
.drop-list.-position-center {
  left: 50%;
  transform: translateX(-50%);
}
.drop-list.-position-left {
  right: 0;
}
.drop-list.-position-right {
  left: 0;
}
.drop-list.-size-medium {
  width: 150px;
}
.drop-list.-size-large {
  width: 225px;
}
.drop-list.-border-rounded {
  border-radius: 5px;
}
.drop--down .drop-list::before, .drop--up .drop-list::after {
  content: " ";
  height: 19px;
  left: 0;
  position: absolute;
  width: 100%;
}
.drop--down .drop-list::before {
  bottom: 100%;
}
.drop--up .drop-list::after {
  top: 100%;
}

/**************************
 * Drop List Item Element
 **************************/
.drop-list__item {
  display: block;
}

/**************************
 * Drop List Button Element
 **************************/
.drop-list__btn {
  background-color: transparent;
  border: none;
  border-radius: 2px;
  color: #FFF;
  cursor: pointer;
  font: inherit;
  display: block;
  outline: none;
  padding: 11.2px;
  text-align: left;
  text-decoration: none;
  width: 100%;
}

.drop-list__btn.is-selected {
  background-color: #565656;
}
.drop.-color-secondary .drop-list__btn.is-selected {
  background-color: #1cbfa0;
}
.drop.-color-lighter .drop-list__btn.is-selected {
  background-color: #a7afb4;
}

.drop-list__btn:hover {
  background-color: #515151;
}
.drop.-color-secondary .drop-list__btn:hover {
  background-color: #1ab798;
}
.drop.-color-lighter .drop-list__btn:hover {
  background-color: #a1aab0;
}

/*# sourceMappingURL=drop.css.map */
