@import url('css.css');
html,
body,
h1 {
  padding: 0;
  margin: 0;
  font-family: 'Cabin Condensed', sans-serif;
}
#app {
  height: 60vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
#wrapper {
  text-align: center;
}
body {
    background-image: url('../images/mountains.png');
    background-size: cover;
}

nav {
  width: 0%;
  height: 0px;
}
nav ul {
    float: left; 
}

nav ul li {
    float: left;
    list-style: none;
    position: relative;
}

nav ul li a {
    display: block;
    font-family: 'Forum';
    color: black;
    font-size: 50px;
    padding: 3px 3px 3px 3px;
    text-decoration: none;
}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.747);
}

nav ul li:hover ul {
    display: block;
    padding: 0px 0px 0px 0px;
}

nav ul li ul li {
    width: 170px;
    height: 50px;
    color: white;
}

nav ul li ul li a {
    font-size: 40px;
    list-style: decimal;
  }

nav ul li ul li a:hover {
    background-color: rgba(132, 172, 196, 0.904);
}