@import url('css.css');
@import url(https://fonts.googleapis.com/css?family=Cabin+Condensed);
@import url(https://fonts.googleapis.com/css?family=Forum);
html,
body,
h1 {
  padding: 0;
  margin: 0;
  font-family: 'Cabin Condensed', sans-serif;
}
body,html{margin:0;padding:0;height:100%;}
body {
  background-image: url("mountains.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Cabin Condensed', sans-serif;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
svg {
  font-weight:bold;
  max-width:600px;
  height: 100%;
}
.bg-image {
  padding: 20em;
  background-image: url(..\css\mountains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*---------------------------------------/*

/* nav bar */
nav{
  width: 100%;
  height: 70px;
  background-color: white;
}

/* 'socials' */
nav ul {
  float: left;
}

/* dif socials */
nav ul li{
  float: left;
  list-style: none;
  position: relative;   /* hides until hovering */
}
/* styling for text in navigation */
nav ul li a{
  display: block;
  font-family: 'Forum';
  color: black;
  font-size: 40px;
  text-decoration: none;
}

/* styling for dropdown */
nav ul li ul{
  display: none;
  position: absolute;
  padding: 0px;
  background-color: rgb(255, 255, 255);
  padding: 5px 10px; /* spacing between hovering overlay and full outline */
  border-radius: 0px 0px 10px 10px;
}

/* hover effect */
nav ul li:hover ul{
  display: block;
}

/* dropdown items */
nav ul li ul li{
  width: 180px;
  border-radius: 4px;
}
/* padding for dropdown items */
nav ul li ul li a{
  padding: 8px 0px;
}

/* overlay while hovering over items */
nav ul li ul li a:hover {
  background-color: rgba(135, 206, 250, 0.5);
  padding: 8px 4px;
  border-radius: 7px;
}